<h2><%= @competition.name %></h2>
<p>
  Location: <%= @competition.location %><br>
  Sport: <%= @competition.sport %>
</p>

  <% @competition.teams.each do |team| %>
    <p>Team Nickname: <%= team.nickname %> - Hometown: <%= team.hometown %></p>
  <% end %>

Average Player Age: <%= @competition.average_player_age.round(1) %><br><br>

<%= link_to 'Register a New Team', new_competition_participant_path(@competition) %>
